root = true

[*]
# Visual Studio 2017 does this wrong
# https://developercommunity.visualstudio.com/content/problem/22922/editorconfig-support-interprets-charset-utf-8-as-u.html
# charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,cc,h,inl}]
indent_size = 2

[*.{py,rs,toml}]
indent_size = 4

[*.pl]
trim_trailing_whitespace = false
indent_style = tab
indent_size = 4
