{
  "BaseDirectory": "..",
  "Sections": [{
    "Name": "Low-level infrastructure",
    "Headers": [
      "crypto/base64/base64.h",
      "crypto/bio/bio.h",
      "crypto/buf/buf.h",
      "crypto/err/err.h",
      "crypto/cpu.h",
      "crypto/ex_data.h",
      "crypto/lhash/lhash.h",
      "crypto/mem.h",
      "crypto/obj/obj.h",
      "crypto/stack/stack.h",
      "crypto/thread.h",
      "crypto/time_support.h"
    ]
  },{
    "Name": "Low-level crypto primitives",
    "Headers": [
      "crypto/aes/aes.h",
      "crypto/bn/bn.h",
      "crypto/des/des.h",
      "crypto/dh/dh.h",
      "crypto/dsa/dsa.h",
      "crypto/ec/ec.h",
      "crypto/ec/ec_key.h",
      "crypto/ecdh/ecdh.h",
      "crypto/ecdsa/ecdsa.h",
      "crypto/engine/engine.h",
      "crypto/hmac/hmac.h",
      "crypto/md5/md5.h",
      "crypto/modes/modes.h",
      "crypto/rc4/rc4.h",
      "crypto/rsa/rsa.h",
      "crypto/sha/sha.h"
    ]
  },{
    "Name": "Crypto interfaces",
    "Headers": [
      "crypto/digest/digest.h",
      "crypto/cipher/cipher.h",
      "crypto/evp/evp.h"
    ]
  }]
}
